body {
}

#wrapper{
    width:1024px;

}

#banner{
    width:1024px;
    height:250px;
    background-color:red;
}

#menu{
    width:200px;
    background-color:blue;
    float:left;
}

#content{
    width:824px;
    background-color:yellow;
    float:left;
}

#footer{
    width:1024px;
    height:100px;
    background-color:orange;
    clear:both;
}